<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>

<body>
	<h2>製品一覧</h2>
	<form action="/api/products/Insert" method="get">
		<button type="submit">製品追加</button>
	</form>
	<form>
		<table>
			<thead>
				<tr>
					<td>SEQ</td>
					<td>製品名</td>
					<td>価格</td>
					<td>数量</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list,stat:${productList}">
					<td th:text="${stat.index+1}"></td>
					<td th:text="${list.name}"></td>
					<td th:text="${list.price}"></td>
					<td th:text="${list.qty}"></td>
				</tr>
			</tbody>
		</table>

	</form>
</body>

</html>